.letter-style {
  background: #0f0d00 !important;
  padding: 8px 9px 6px 9px;
  color: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #d9d3bd !important;
  transition: border 0.3s !important;
}

.bg-modal-color {
  --bg-color: #d9d3bd;
  background-color: --bg-color !important;
}
.color-text {
  color: #d9d3bd;
}
.bg-y {
  --bg-color: #DED100 !important;
}

.font-strech {
  font-family: "Stretch Pro";
}
